name: Packaging for Centos and Fedora

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.target }}
    strategy:
      matrix:
        arch:
          - amd64
        target:
          - "centos:7"
          - "centos:8"
          - "fedora:30"
          - "fedora:31"
          - "fedora:32"


    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Install prereq packages
        run: ./rpmpkg-setup.sh ${{ matrix.target }}
      - name: Build packages
        run: ./rpmpkg-build.sh ${{ matrix.target }}
      - name: Store packages
        run: |
          export DIRNAME=`echo ${{ matrix.target }} | tr ':' '_'`
          mkdir -p packages/${DIRNAME}
          cp ~/rpmbuild/RPMS/x86_64/*.rpm packages/${DIRNAME}/
      - name: Publish packages to bintray
        run: echo "TODO"


